<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<button title="Geolocalização" (click)="openGeolocation()">Habilitar Geolocalização</button>
<agm-map [latitude]="latitude" [longitude]="longitude" *ngIf="latitude && longitude">
  <agm-marker [latitude]="latitude" [longitude]="longitude">
  </agm-marker>
</agm-map>

<button title="Camera" (click)="openCamera()">Habilitar Camera</button>
<video #cameraView></video>
<input type="file" accept="image/*" capture="camera" />


<router-outlet></router-outlet>